.centered-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

input[type=text]{
  border-radius:10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  align-items: center;
  width: 90%;
}

.card {
  margin: 20px;
  height: 200px;
}