@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&family=Quicksand:wght@500&display=swap');

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f5f7fa;
  text-align: center;
}

header, footer {
  height: 10vh;
  min-height: 10vh;
  width: 100vw;
  min-width: 100vw;
}

h1 {
  font-family: Quicksand;
  margin-top: 20px;
}

p, div {
  font-family: Mulish;
  padding: 7px;
}

button {
  color: black;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}